@require "app/styles/charte"

/*
 * Styles
 */
#header
	padding: 4em 2em 2em
	text-align: center


.header
	&-category
		cursor: pointer
		text-decoration: underline
		color: $black-almost
		margin: 0 1em
		display: inline-block

		// Au survol
		&:hover
			color: $red
